<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationPath" value="http://192.168.0.124/Sgc.web/Login.aspx"/>
    <!--<add key="ApplicationPath" value="http://franchise-test.pro-inspector.net/V3/"/>-->
    <add key="RunConfigPath" value="D:\Projects\RunConfig-SGC.xlsx"/>
    <add key="ControlDetails" value="D:\Projects\ControlDetails-SGC.xlsx"/>
    <add key="LogPath" value="D:\Projects\Pro-Tester\ProTester.Utilities\log\"/>
    <add key="ResultPath" value="D:\Projects\Pro-Tester\Pro-Tester-UI\Result\"/>
    <add key="Screenshot" value="D:\Projects\Pro-Tester\Pro-Tester-UI\Result\Screenshot\"/>
  </appSettings>
</configuration>